<div class="container mt-5 mb-4">
    <div class="row d-flex justify-content-center">
        <h1 class="text-center mb-3">Our tasty menu</h1>
        <div class="card border m-3 col-lg-3" *ngFor="let product of products; index as productId">
            <img [src]="product.img" class="card-img-top" style="height: 200px;" alt="menu">
            <div class="card-body">
                <h5 class="card-title"> {{product.name}} </h5>
                <p>Price: {{product.price | currency}} </p>
                <hr>
                <p class="card-text" *ngIf="product.description"> {{product.description}} </p>
                <hr>

                <div class="container">
                    <ng-template [ngIf]="product.instock" [ngIfElse]="none">
                        <a class="btn btn-md btn-primary me-3" style="text-decoration: none; color:white;" routerLink="/products/{{productId}}" type="button">Details</a>
                        <button (click)="addToCart(productId)" class="btn btn-md btn-success">Order</button>
                    </ng-template>
                    <ng-template #none>
                        <p style="color: red;">Sorry, that item is not available to order right now</p>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>