<div class="container">
    <h2 class="mt-4 mb-4">Product details</h2>

    <div class="card border mb-5" style="width: 18rem;" *ngIf="product">
        <img [src]="product.img" class="card-img-top menupiccart" alt="menu">
        <div class="card-body">
            <h5 class="card-title"> {{product.name}} </h5>
            <p>Price: {{product.price}} </p>
            <hr>
            <p class="card-text"> {{product.description}} </p>
            <hr>

            <div class="container">
                <button (click)="addToCart()" class="btn btn-md btn-success">Order</button>
            </div>
        </div>
    </div>
</div>